*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #1891C9;
}
.bt{
	width: 350px;
	height: 35px;
	color:#fff;
	background-color:#0878C6;
	border: none;
	cursor:pointer;
}
button{
	cursor: pointer;
}
<<<<<<< HEAD
tbody tr {
  background-color: #819FF7;
  transition: background-color .3s;
cursor: pointer;
}

tbody tr:hover {
  background-color:#CEE3F6 ;
}
=======
>>>>>>> 099dc5478668348a5bae92ce8afb3e2034a49cf3

.formu-regis{
	width:400px;
	background:white;
	padding: 30px;
	margin:auto;
	margin-top: 60px;
	border-radius: 4px;
	font-family:'Arial';
	color:white;
	color:#000;
	box-shadow: 7px 13px 37px #000;

}
.formu-regis h4{
	font-size: 22px;
	margin-bottom: 20px;

}

.info
{
	width: 100%;
	background:#8DC5EC ;
	padding:10px;
	border-radius:4px;
	margin-bottom:16px;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom-style:1px #e3e3e3;
	font-family: 'Arial';
	color:white;
	font-size: 18px;

}

body{
background-image: url("./fondo.jpeg");
}

.tabla
{
	float: left;
	background:#0878C6;
	text-align: center;
	border-collapse: collapse;
	border-radius: 4px;
	width:70%;
	font-color:white;
	margin:auto;
	margin-top: -270px;
	margin-left: 80px;
}
th,td{
	border-bottom:solid 1px #000;
	font-size:18px;
	font-family:"Arial";
	color:white;
}
.formu-regis .botones{
	width:100%;
	background:#102775;
	border:none;
	padding:12px;
	color:white;
	margin:16px 0;
	font-size:16px;
}


.botons{
	width:100%;
	background:#0878C6;
	border:none;
	padding:12px;
	color:white;
	margin:6px 0;
	font-size:16px;
	}


	.secboton{
    float:right;
	width:200px;
	background:#fff;
	padding: 30px;
	margin-left:1000px;
	margin-top: 40px;
	border-radius: 4px;
	font-family:'Arial';
	color:white;
	font-color:white;
	box-shadow: 7px 13px 37px #000;
}
